<script>
  // Prepare to animate signature
  hideChildren('signature');

  // Toggle the current theme
  const themeToggle = document.getElementById('theme-toggle');
  themeToggle.addEventListener('click', () => toggleTheme());

  // Close the overlay page on click of the exit button
  const pageClose = document.getElementById('page-overlay-toggle');
  pageClose.addEventListener('click', () => {
    if (isPageOverlayShowing) {
      togglePage();
    }
  });

  // Initialize theme
  initTheme();
</script>
