<head>
  <title>{% if page.title %} {{ page.title }} {% else %} {{site.title}} {% endif %}</title>

  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
  <link rel="icon" href="{{ site.baseurl }}/favicon.svg" type="image/svg+xml">

  <script src="./assets/js/main.js"></script>

  <!-- TailwindCSS -->
  <script src="https://cdn.tailwindcss.com"></script>
  <!-- <script src="https://cdn.jsdelivr.net/npm/@tailwindcss/browser@4"></script> -->

  <!-- Configure TailwindCSS -->
  <script>
    // Configure Tailwind to use class-based dark mode
    tailwind.config = {
      darkMode: 'class',
    }
  </script>
  <style>
    * {
      transition: background-color 0.3s ease, color 0.3s ease;
    }
  </style>
</head>
