<head>
  <title>{% if page.title %} {{ page.title }} {% else %} {{site.title}} {% endif %}</title>
  <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />

  <link rel="icon" href="{{ site.baseurl }}/favicon.svg" type="image/svg+xml">
  <link rel="stylesheet" href="{{ site.baseurl }}/assets/css/style.css"/>

  <!-- Include fontawesome icons  -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

  <!-- Rubik font -->
  <link rel="https://fonts.googleapis.com/css?family=Rubik"/>
</head>
