<!-- Navigation bar -->
<div class="flex justify-center md:gap-3 fixed top-4 right-0 left-0 bg-inherit md:text-lg">
  <a 
    href="/"
    class="p-1 text-zinc-400 hover:text-zinc-600 dark:text-zinc-600 dark:hover:text-zinc-400"
  >/</a>
  {% for page in site.data.nav %}
  <a 
    hx-get="{{ page.link | relative_url }}"
    hx-target="#page-overlay-container"
    hx-swap="innerHTML"
    onclick="togglePage()"
    href=""
    id="nav_{{ page.name | downcase }}"
    class="p-1 text-zinc-400 hover:text-zinc-600 dark:text-zinc-600 dark:hover:text-zinc-400"
  >
    /{{ page.name | downcase }}
  </a>
  {% endfor %}
</div>

<!-- Toggle theme button -->
<button 
  id="theme-toggle"
  class="fixed p-1 md:p-2 top-4 right-2 md:right-4
    rounded-lg hover:bg-zinc-300 dark:hover:bg-zinc-700"
>
  <i id="sun" class="bi bi-sun hidden dark:inline"></i>
  <i id="moon" class="bi bi-moon-stars inline dark:hidden"></i>
</button>

