<div class="darken-bg" onclick="togglePage()"></div>
<div 
  id="page-overlay"
  class="page-overlay flex flex-col bg-zinc-100/50 dark:bg-zinc-800/50 backdrop-blur-sm
    rounded-lg outline-2 outline-stone-500 dark:outline-stone-700"
>
  <!-- Header section -->
  <div class="flex w-full">
    <button 
      id="page-overlay-close"
      onclick="togglePage()"
      class="p-2 m-2 rounded-lg hover:bg-stone-400 dark:hover:bg-stone-600
        border-2 border-stone-500 dark:border-stone-700"
      >
      <i class="bi bi-x-lg"></i>
    </button>
    <div 
      id="page-overlay-title"
      class="w-full rounded-lg my-2 mr-2 p-2
        border-2 border-stone-500 dark:border-stone-700">
      {% if page.title %} {{ page.title }} {% else %} {{ page.permalink | relative_url }} {% endif %}
    </div>
  </div>

  <!-- Content section -->
  <div
    id="md-content"
    class="content flex-1 overflow-y-auto m-2 p-3 rounded-lg text-lg
      border-2 border-stone-500 dark:border-stone-700"
  >
    {{ content }}
  </div>
</div>
<script>
  replaceLinks('md-content');
</script>
