@charset "utf-8";

// Any main color
$accent: #5C7373;

// Should be a lighter shade and hue of accent
$background: #e2d8cb;
$background-dr: #ccbba4;

// Darker shade and hue of accent
$text: #625E63;
$text-hl: #5E656C;

// Can be a complementary color
$link: #BD6444;
$link-hov: #C4794F;

$heading: #C78A50;
$bold: #C78A50;
$italic: #CB9F5C;


