// background color
$primary: #E8EBE4;
$primaryhl: #CDD4C4;

// main text
$secondary: #5b7d76;
$secondaryhl: #779687;

// main color to display
$accent: #354f52;
$accenthl: #52796f;

// color for links
$emphasis: #A35255;
$emphasishl: #BB777A;

