@charset "utf-8";

// Any main color
$accent: #697565;
$accent-dr: #455656;

// Should be a lighter shade and hue of accent
$background: #ECDFCC;
$background-dr: #ccbba4;

// Darker shade and hue of accent
$text: #181C14;
$text-hl: #3C3D37;

// Can be a complementary color
$link: #BD6444;
$link-hov: #dba486;

$heading: #C78A50;
$bold: #C78A50;
$italic: #CB9F5C;

