@import "color";
@charset "utf-8";

// set svg path colors
#signature {
  stroke: $accent-hl;
  stroke-width: 5px;
}

.control-container {
  max-width: fit-content;
  margin: 2rem auto;
  display: block;
}

.carousel-control {
  cursor: pointer;
  padding: 1rem;
  margin-inline: auto;
}

.carousel-control:hover {
  color: $text-hl;
}

.carousel-container {
  transition: transform 0.4s ease-in-out;
  margin-top: 1rem;
  display: flex;
  justify-content: center;
}

#carousel-forward {
  margin-right: auto;
}

#carousel-back {
  margin-right: auto;
}

// NOTE: This needs to change
.carousel-item {
  flex: 0 0 auto;
  width: 300px; /* adjust this width according to your needs */
  margin-right: 20px; /* adjust the spacing between items */
  background-color: $accent-hl;
  text-align: center;
  line-height: 1.5rem;
  border-radius: .25rem;
  transition: 0.4s ease-in-out;
  cursor: pointer;
}

.carousel-active {
  transform: scale(1.1);
  color: $text-hl;
  background-color: $accent;
}

img.thumbnail-art {
  border-radius: .25rem;
  transition: .25s ease-in-out;
}

img.thumbnail-art:hover {
  filter: brightness(90%);
}

