@charset "utf-8";

// adjust sizing and positioning for footer 
.footer {
  left: 0;
  top: 2rem;
  bottom: .25rem;
  padding-bottom: 1rem;
  margin-bottom: 1rem;
  text-align: center;
  position: relative;
}

