@import "color";

body {
  background: $primary;
  color: $secondary;
  height: 100vh;
}

.content {
  min-height: 100%;
  margin: auto;
  width: 78%;
}

hr {
  color: $accent;
  background-color: $accent;
  height: 3px;
}

a {
  text-decoration: none;
  color: $tertiary;
}

a:hover {
  color: $tertiaryhl;
}

h1 {
  color: $accent;
}

h5 {
  color: $tertiary;
}

b {
  color: $accent;
}

em {
  color: $tertiaryhl;
}
