@import "color";

body {
  background: $primary;
  color: $secondary;
  height: 100vh;
}


hr {
  color: $accent;
  background-color: $accent;
  height: 3px;
}

a {
  text-decoration: none;
  color: $tertiary;
}

a:hover {
  color: $tertiaryhl;
}

h1 {
  color: $accent;
}

b {
  color: $accent;
}

em {
  color: $tertiaryhl;
}

pre code {
  background-color: $primaryhl;
}

blockquote {
  border-left: 3px solid $accent;
  padding-left: 1rem;
  page-break-inside: avoid;
}

code {
  background-color: $primaryhl;
  color: $accent;
}

.content {
  min-height: 100%;
  margin: auto;
  width: 80%;
}

/* Make content width smaller on big screens */
@media screen and (min-width: 480px) {
  .content {
    width: 60%;
  }
}
