@import "color";
@charset "utf-8";

html, body {
  overscroll-behavior: none;
}

// main content
body {
  line-height: 1.6;
  font-family: "Rubik", sans-serif;
  overflow-x: clip;
  overflow-x: hidden; /* Fallback */
}

p {
  margin-top: 1rem;
  margin-bottom: 1rem;
}

// content links
.content a {
  color: $accent-light;
}

// bold properties
b, strong {
  font-weight: bold;
}

// header properties
h1, h2, h3, h4, h5, h6 {
  color: $accent-light;
  font-weight: bold;
}

// dark themeing
.dark .content a,
.dark h1,
.dark h2,
.dark h3,
.dark h4,
.dark h5,
.dark h6 {
  color: $accent-dark;
}

// Header font sizes
h1 {
    font-size: 28px;
}

h2 {
    font-size: 24px;
}

h3 {
    font-size: 20px;
}

h4 {
    font-size: 18px;
}

h5 {
    font-size: 14px;
}

h6 {
    background-color: inherit;
    font-size: 14px;
}

// indented and highlighted blocks of words
blockquote {
  background-color: var(--color-zinc-100);
  border-radius: 0.1em;
  border-left: 3px solid;
  border-color: $accent-light;
  margin: 0.5rem;
  margin-left: 0;
  padding-left: 0.5rem;
  page-break-inside: avoid;
}

.dark blockquote {
  background-color: var(--color-zinc-900);
  border-color: $accent-dark;
}

// code blocks
code, pre {
  background-color: var(--color-zinc-200);
  font-family: "Fira Code", monospace;
  border-radius: 3px;
}

.dark code, .dark pre {
  background-color: var(--color-zinc-800);
}

code {
  margin: 0 2px;
  padding: 0 5px;
}

pre {
  line-height: 1.25em;
  padding: 6px 10px;
  overflow: auto;
}

pre > code {
  border: 0;
  margin: 0;
  padding: 0;
}

// table, table headers and rows
table, th, td {
  border: 2px solid;
  border-color: $accent-light;
  border-collapse: collapse;
}

.dark table, .dark th, .dark td {
  border-color: $accent-dark;
}

// Table headers and rows
th, td {
  padding: .5rem;
}

// Visible line breaks
hr {
  color: $accent-light;
  background-color: $accent-light;
  border-radius: 3px;
  height: 3px;
}

.dark hr {
  color: $accent-dark;
  background-color: $accent-dark;
}

// SVG images
svg {
  margin: auto;
  margin-bottom: 1rem;
  padding: 1rem;
  stroke: $accent-light;
  stroke-width: 5px;
  max-height: auto;
  max-width: 150%;
}

// Dark theme coloring
.dark svg {
  stroke: $accent-dark;
}

// Set circle fill for svg
circle {
  fill: $accent-light;
}

// Set circle fill for svg
.dark circle {
  fill: $accent-dark;
}

// Bitmap images
img {
  max-width: 100%;
  max-height: auto;
}

// iframes
iframe {
  max-width: 100%;
  margin: 2rem auto;
  border-radius: .25rem;
  border: 0;
  display: block;
}

ul {
  list-style: circle outside;
  margin-left: 1rem;
}

i {
  padding: .2rem;
}

* {
  transition: background-color 0.3s ease, color 0.3s ease;
}

.bi {
  width: 1.5rem;
  height: 1.5rem;
}
