@import "color";
@charset "utf8";

// nav box sizing and positioning
nav {
  margin: auto;
  overflow: hidden;
  margin-bottom: 2rem;
  border-radius: .25rem;
  padding: .8rem;
  background-color: $accent;
  display: flex;
  justify-content: space-around;
  width: 81%;
  transition: transform 0.4s ease-in-out;
}

// Make links blocks and change the colors
nav a {
  display: block;
  text-align: center;
  color: $background-dr;
  padding: 1rem 1.5rem;
  border-radius: 1rem;
  font-size: 17px;
}

// Change the hover color
nav a:hover, nav a.onpage{
  background: $accent-hl;
  color: $text;
}

/* Adjust sizing for smaller screens */
@media screen and (max-width: 768px) {
  nav a {
    font-size: 16px;
  }
}

/* Adjust sizing for larger screens */
@media screen and (min-width: 1200px) {
  nav {
    width: 61%;
  }

  nav a {
    font-size: 19px;
  }
}
