@import "color";

nav {
  margin: auto;
  overflow: hidden;
  width: 80%;
  background-color: $accent;
}

nav a {
  float: left;
  display: block;
  text-align: center;
  color: $primary;
  padding: 1rem .5rem;
}

nav a:hover {
  background-color: $tertiary;
  color: $secondary;
}
