---
import Base from "@layouts/Base.astro";
---

<Base>
  <div class="w-dvw h-dvh flex flex-col items-center justify-center">
    <p>Whoops, that page doesn't exist...</p>
    <p>go <a href="/">/home</a></p>
  </div>
</Base>
