---
import type { WorkItem } from "@components/WorkCard.astro";
import type { ProjectItem } from "@components/ProjectCard.astro";

import Section from "@layouts/Section.astro";
import SkillList from "@components/SkillList.astro";
import WorkCard from "@components/WorkCard.astro";
import ProjectCard from "@components/ProjectCard.astro";

const LANGUAGES = [
  "C/C++",
  "Python",
  "Haskell",
  "TypeScript/JavaScript",
  "Bash/Shell Scripting",
]

const TECHNOLOGIES = [
  "Linux (Ubuntu/Arch/Fedora)",
  "Docker",
  "Cloudflare DNS",
  "Linode (Akamai)",
  "SQLite/Microsoft SQL Server/MySql",
  "Flask",
  "Astro",
  "React",
  "TailwindCSS",
  "GraphQL",
]

const WORK_HISTORY: WorkItem[] = [
  {
    jobTitle: "Software Development Intern - Co-Op",
    company: "vCom Solutions",
    startDate: "May 2023",
    endDate: "Dec 2023",
    skills: ["Flask", "Python", "LLMs"],
    notes: ["R&D on AI integration with internal ticketing system", "Built and deployed the backend API to prod"],
  },
  {
    jobTitle: "Software Engineering Intern",
    company: "TARMAC",
    startDate: "Feb 2024",
    endDate: "May 2025",
    skills: ["React", "TypeScript"],
    notes: ["Developed features and integrated with backend", "Implemented testing on all frontend components"],
  },
  {
    jobTitle: "IT Intern",
    company: "Commerce Bank",
    startDate: "May 2025",
    endDate: "July 2025",
    skills: ["C#", ".NET", "Vue.js", "Puppet", "PowerShell"],
    notes: ["Created new alert for downtime detection", "Added a feature to an internal tool to better manage 3rd-party integrations with bank accounts"],
  },
]

const PROJECT_HISTORY: ProjectItem[] = [
  {
    name: "cd-server",
    link: "https://github.com/aaatipamula/cd-server",
    skills: ["docker", "flask", "GitHub"],
    notes: "I designed this to help me contiously deploy my personal projects with *Docker*. This utilizes a lot of the knowledge I've aquired about web APIs including *authentication*, *HTTP methods*, and *deploying* a web API. There is a web interface that also helps me manage my dockerized projects when I don't have direct access to the server they are running on.",
  },
  {
    name: "The Butterfly Keyboard",
    link: "https://github.com/aaatipamula/butterfly",
    skills: ["PCB Design", "Keyboards", "C"],
    notes: "This is a keyboard I designed out of my interest in Custom Mechanical Keyboards. This was a pretty big learning curve for me as I had to learn about different types of *microcontrollers*, conventional *keyboard design* with microcontrollers, and *PCB design*. However I feel like the payoff was immensely satisfying.\n\n The board I designed is pretty crude and only includes the bare minimum for a functioning keyboard but I learned a lot about *embedded systems* and *PCB design* throughout this project. I am planning on either redesigning the board or even desiging something completely different!",
  },
]

---

<Section name="portfolio">
  <h1>Portfolio</h1>

  <h2>Skills</h2>

  <p>
    Most of my experience lies in <b>Python</b> and <b>C</b> development, <b>Linux</b>, <b>APIs</b>, and <b>web development</b>. I am interested in learning more about <em>programming language theory</em>, <em>networking</em>, <em>CI/CD</em>, and <em>machine learning</em>.
  </p>


  <b>Languages:</b>
  <SkillList list={LANGUAGES} />

  <b>Technologies:</b>
  <SkillList list={TECHNOLOGIES} />

  <h2>Work History</h2>
  <WorkCard details={WORK_HISTORY} />

  <br />

  <h2>Projects</h2>
  <ProjectCard details={PROJECT_HISTORY} />
</Section>
