<!DOCTYPE html>
<html>
  {% include head.html %}
  <body class="text-zinc-700 dark:text-zinc-200">

    <!-- Navbar -->
    {% include nav.html %}

    <div class="bg-zinc-100 dark:bg-zinc-900 flex-col justify-center h-screen w-screen">

      <!-- Command bar -->
      <div class="w-3/4 lg:w-1/2 m-auto py-20 ">
        <input
          placeholder="type /help"
          name="command"
          id="navigation"
          type="text"
          class="rounded w-full p-2
            outline-2 outline-stone-300 focus:outline-stone-500 dark:outline-stone-700 dark:focus:outline-stone-500
            placeholder-zinc-400 dark:placeholder-zinc-500 bg-zinc-200 dark:bg-zinc-800"
        >
      </div>

      {% include name.svg %}

      <!-- Responsive keyboard --> 
      <div class="flex flex-col justify-center gap-[0.3em] content-end h-fill">
        <!-- Main board -->
        {% for idxa in (0..2) %}
        <div class="flex justify-center gap-[0.2em]">
          {% for idxb in (1..12) %}
            <div 
              id="key_{{ idxa | times: 12 | plus: idxb }}"
              class="relative hover:opacity-50 bg-stone-400 dark:bg-stone-800
                rounded border-2 border-t-stone-200 border-l-stone-200 border-r-stone-500 border-b-stone-500
                dark:border-t-stone-600 dark:border-l-stone-600 dark:border-r-stone-900 dark:border-b-stone-900
                h-7 w-7 md:h-15 md:w-15 lg:w-20 lg:h-20 
                pt-px md:pt-[2px] px-[0.1em] md:px-1 pb-[0.2em] md:pb-2"
            >
                <div class="rounded bg-zinc-100 dark:bg-zinc-900 w-full h-full">
              </div>
            </div>
          {% endfor %}
        </div>
        {% endfor %}

        <!-- Thumb cluster -->
        <div class="flex justify-center gap-[0.2em]">
        {% for idxa in (37..42) %}
          <div 
            id="key_{{ idxa }}"
            class="relative hover:opacity-50 bg-stone-400 dark:bg-stone-800
              rounded border-2 border-t-stone-200 border-l-stone-200 border-r-stone-500 border-b-stone-500
              dark:border-t-stone-600 dark:border-l-stone-600 dark:border-r-stone-900 dark:border-b-stone-900
              h-7 w-7 md:h-15 md:w-15 lg:w-20 lg:h-20 
              pt-px md:pt-[2px] px-[0.1em] md:px-1 pb-[0.2em] md:pb-2"
          >
              <div class="rounded bg-zinc-100 dark:bg-zinc-900 w-full h-full">
            </div>
          </div>
        {% endfor %}
        </div>
      </div>

      <!-- Page display overlay -->
      <!-- TODO: Background blur transition isn't applying 😊🔫 -->
      <div id="page-overlay-container" class="overlay-container pointer-events-none opacity-0">
      </div>
      
    </div>
    <!-- Footer -->
    {% include footer.html %}
  </body>
</html>
