<!DOCTYPE html>
<html>
  {% include head.html %}
  <body>
    {% include nav.html %}
    <!-- Change styling for portfolio page -->
<style>

h1, h2, p {
  margin-top: 1rem;
  margin-bottom: 1rem;
}

</style>
    <div class="content">
      <div class="markdown">{{ content }}</div>
    </div>
    <!-- Convert GitHub links to icons -->
    <script>
      for (const link of document.querySelectorAll('a')) {
        console.log(link);
        if (link.href.startsWith('https:\/\/github\.com') && link.innerText == 'Link') {
          link.innerHTML = '<i class="fa fa-github fa-large"></i>';
        }
      }
    </script>
    {% include footer.html %}
  </body>
</html>

