---
import type { MarkdownLayoutProps } from "astro";

type Props = MarkdownLayoutProps<{ title?: string; id: string }>;

import Base from "@layouts/Base.astro"
import Section from "@layouts/Section.astro"

const { frontmatter, headings } = Astro.props;
---

<Base headings={headings}>
  <Section name={frontmatter.id}>
    {frontmatter.title && <h1>{frontmatter.title}</h1>}
    <slot />
  </Section>
</Base>

